
@media(max-width: 992px) {
   

.nav-bar ul{
    display: none;

}

.container-nav{
    display: flex;
    justify-content: space-around;

}


.menu-hamburguesa {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 70px;
    height: 70px; 
    cursor: pointer;
}

.menu-label{display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: var(--h);
    cursor: pointer;
    background-color: #4c42bd;
}


.bar {display: none;
visibility: hidden;
}

.nav-bar ul a li{
    font-size: 25px;
}

.nav-bar ul li{
    font-size: 25px;

}

input:checked ~ ul {
position: fixed;
width: 60vw;
background-color: beige;
right: 0;
top: 0;
height: 100vh;
border: 3px solid var(--black);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index: 1;
color: #4c42bd;
cursor: pointer;
gap: 10px;
} /*cuando este chequeado el input, quiero q muestre los ul */

/* FIN MENU HAMB - INICIO MEDIA DEL HERO*/

.grand-container {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 100vw;
max-height: 600px;
}




.hero-container{
    min-height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.hero-mayor{
    justify-content: center;
    align-items: center;
}
.hero-text{
    min-width: 300px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}


.hero-container h1{
    font-size: 30px;
    padding-top: 50px;
    max-width: 400px;
}


.hero-text h1:hover{
    
    display: none;
}

    
.hero-text p{
    font-size: 20px;
    text-align: start;
    padding: 10px;
    transition: all 1s;
}

.hero-text p:hover{
    transform: scale(1.1);
    transition: 1s;
    padding: 10px;
}

/*Fin media del HERO*/


/* Media proyects */

.section-container h2{

    font-size: var(--h);
} 

.section-container-img img{
    max-width: 500px;
    max-height: 400px;
}












/* Media de la section contact*/ 

.section-container-contact{
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    width: 100vw;
    align-items: center;
  
}


.section-container-menor{
    display: flex;
    flex-direction: column; 
    gap: 70px;
}

.container-robotito{display: none;}

.container-textArea{
    justify-content: center;
    align-items:center;
    
}

.container-textArea label {
    font-size: 30px;
}


textarea{
min-width: 500px;
max-width: 800px;
font-size: 25px;
}

.inputs{
    max-width: 500px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}


.inputs input{
    max-width: 500px;
    min-width: 200px; 
    height: 40px;
}

.button button{
    margin-top: 50px;
}


/* FOOTER */ 

footer{
    background-color: var(--black);
    width: 100vw;
    padding: 20px;
    height: 270px;
    
}
.container-footer{
    background-color: var(--black);
    width: 95%;
    padding: 10px;
    height: 95%;
    justify-content: space-around;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.copy-footer{
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

.copy-footer p{
    font-size: var(--p);
}

.redes-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
}

.redes-footer h3{
    font-size: var(--h);
}

.redes-footer-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.ig a i{color:#E1306C;
    font-size: 40px; 

}

.fb a i{
   color:#4267B2;
   font-size: 40px; 
}

.tw a i{
    color: aqua;
    font-size: 40px; 
}

.fa-brands i{width: 40px;
height: 40px;


}}

@media(max-width:555px) {
    .hero-img{
        display: none;
    }
    /*  LOGO hasta 555px  */
    .container-logo{width: 200px;
        height: 100%;
        position: relative;
        top: 20px;
        right: 10px;
    }
    
    .container-logo img{
        max-width: 150px;
        border-radius: 100%;
        position: relative;
        animation: logo 15s infinite alternate;
    }

    .grand-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        max-height: 600px;
        }
        
        
        
        
        .hero-container{
            min-height: 400px;
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }

    .hero-text{
        padding: 10px;
    }
    

    /* ajustes en section proyects */
    .section-container-img img{
        max-width: 380px;
        max-height: 300px;
    }

    /* ajustes section contact*/

    textarea{
        min-width: 250px;
        max-width: 350px;}
        

}